.mapContainer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    }

    .sidebarStyle {
        display: inline-block;
        position: relative;
        color: #ffffff;
        width: 61vw;
        height: 90vh;
        z-index: 1 !important;
        overflow: scroll;
        font-weight: bold;
        }
    